.calis-logout-button {
  color: #00414f;
  font-family: "SunLifeNewText-Bold", sans-serif;
  background-color: rgb(251, 192, 45);
}

.calis-logout-button:hover {
  background-color: rgb(250, 182, 12);
}

.calis-logout-dialogue {
  color: #00414f;
  font-family: "SunLifeNewText", sans-serif;
}
